{% extends '/base.html.twig' %}

{% block categoryTitle %}
    Upload and Image to Azure Blob Storage
{% endblock %}

{% block content %}
    <div class="row mb-5">
        <div class="col">
            <span>To upload an image to Azure Blob Storage you can use the following endpoint:</span>
            <div style="background-color: #bbc6fb" class="p-3">http://myazureblobstorage.yjm:/upload</div>
            <strong>Note</strong>: I assume the virtual host is already created
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <span>The payload will have the following format:</span>
            <div style="background-color: #bbc6fb" class="p-3">
                {
                "imageBase64": "BASE_64_VALUE_HERE"
                }
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
        <span>The value of <strong>BASE_64_VALUE_HERE</strong> can be replaced by a real image base64 value. <a
                    target="_blank" href="https://elmah.io/tools/base64-image-encoder/">Here</a> you can find a tool to get the image base64 value
        </span>
        </div>
    </div>
{% endblock %}
