{% extends '/base.html.twig' %}


{% block categoryTitle %}
    Render the Uploaded Image
{% endblock %}


{% block content %}
<div class="row">
    <div class="col">
        {% if imageBase64 is empty %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>
                    The Image has not been uploaded to Azure Blob Storage.
                </div>
            </div>
        {% else %}
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="data:image/png;base64, {{ imageBase64 }}">
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
